@import "tailwindcss";

/* https://dev.to/ziqinyeow/how-to-add-custom-font-file-to-your-react-app-31kb */
@font-face {
  font-family: "FF Mark";
  src: local("FF Mark"),
  url("/src/fonts/FF Mark-Medium.otf") format("opentype");
}

@theme {
  --font-sans: "FF Mark", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
  @apply pt-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-extrabold;
  @apply mb-2;
}

h1 {
  @apply text-center;
  @apply text-6xl;
  @apply text-white;
}

h2 {
  @apply text-4xl;
  @apply text-red-900;
}

h3 {
  @apply text-2xl;
  @apply text-red-900;
}

h4 {
  @apply text-xl;
  @apply text-red-900;
}

h5 {
  @apply text-lg;
  @apply text-red-900;
  @apply underline;
}

h6 {
  @apply text-lg;
  @apply text-red-900;
}

header {
  @apply text-white;
}
